body {
	background: #686868;
	background-font: #ffffff;
}
header {
	width: 100%;
	background: #000000;
	overflow: hidden;
}
.wrapper {
	witdth: 90%;
	max-width: 1000px;
	margin: auto;
	overflow: hidden;
}